body, html{
  height:100%;
}
body{
  /*margin: 0px;
  background-color:#EADEDB;
  background-size:20%
  font-size: 18px;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(images/background.jpg);
}
body, a:link, a:visited, a:active{
  color: lightblue;
  text-decoration:none;
  border:2px solid yellow;
  border-radius: 20px;
}

.title, .addDancerButton, .lineUp{
  padding:5px 12px;
  float:left;
}

.topbar{
  height:32px;
  background-color: #555;
  display:flex;
  justify-content:space-around;
}
/*.title{
  background-color: #777;
}*/

.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.togapei {
  width: 80px;
  height: 80px;
  background-size:100% 100%;
  background-image: url(images/togapei.png);
  position:absolute; 
}

.pikachu {
  width: 120px;
  height: 100px;
  background-image: url(images/pikachu.gif);
  background-size:100% 100%;
  position:absolute; 
}

.snorlax {
  width: 150px;
  height: 130px;
  background-image: url(images/snorlax.gif);
  background-size:100% 100%;
  position:absolute; 
}


.logo {
/*  text-align:center;
  background-color:white;*/
  background-image: url(images/pokemon_logo.png);
  background-size:100% 100%;
  background-position: center;
  width: 30%;
  height: 20%;
  margin:auto;
  padding:20px;
  font-family: 'Days One', sans-serif;
  font-size:50px;
}
